body{
    color: #0d0d0d;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}
h1{
    font-family: 'Margarine', sans-serif;
    color: #fff;
}
h2{  
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 10px;
    width: 100%;
    text-transform: normal;
    font-size: 2.5em;
    border-bottom: 1px solid #fdfdfd;
}
header {
    width: 100%;
    background: #0072C6;
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    color: #fff
}

nav ul li:hover{ 
    background: #fff;
    color: #0072C6;
    cursor: pointer;
}
h1, nav {
    display: inline-block;
    text-align: center;
}

nav {
    margin-left: 10%;
}

section {
    background: #ddd;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: top;
}
article {

    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
    border-bottom: 1px solid #fdfdfd;
    vertical-align: top;
}
article img, p {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 45%;
    padding: 25px;

}
footer {
    width: 100%;
    background: #282828;
    text-align: center;
    padding: 30px;    
}
footer span {
    color: #3E3E3E;
}